/* class = .
ids = #

whenever you use flexbox, always keep in mind:
justify-content: start, center, end
align-items: top, middle, bottom
flex-direction: hey, is it going to be horizontal? or vertical?

header: flex
    p tag
    button: margin-left: auto / margin-right: auto
*/

.LoginForm {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: red;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin: 5px 0;
}

.inputs input {
  border: none;
  outline: none;
}

.LoginForm button {
  width: 100px;
  height: auto;
  border: none;
}

#login-username-input {
}
